<div class="page-header">
  <h1>Upperclassmen Packets</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Packets Signed</th>
      </tr>
    </thead>

    <tbody>
      <% @upperclassmen.each do |u| %>
        <tr>
          <td><%= link_to "#{u[0].name}", upperclassman_show_path(u[0].id) %></td>
          <td><%= u[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
