<div class="page-header">
  <h1>Packet Grid</h1>
</div>

<div class="table-responsive" style="overflow-x: auto">
  <button type="button" class="btn btn-primary btn-xs active" id="upperclassmen">Upperclassmen</button>
  <button type="button" class="btn btn-default btn-xs" id="freshmen">Freshmen</button>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th style="padding-right: 250px"></th>
        <% @freshmen.each do |f| %>
          <th><%= link_to "#{f.name}", freshman_path(f.id) %></th>
        <% end %>
      </tr>
    </thead>

    <tbody id="upperTable">
      <% @upperclassmen.each do |u| %>
        <tr>
          <th><%= link_to "#{u.name}", upperclassman_path(u.id) %></th>
          <% @freshmen.each do |f| %>
            <% if Signature.exists?(freshman_id: f.id, signer_id: u.id) %>
              <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
            <% else %>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

      <tr>
        <th>Off-floor/Alumni/Advisory/Honorary Members</th>
        <% @freshmen.each do |f| %>
          <% if f.get_alumni_signatures_count == 15 %>
            <td class="success"><span class="glyphicon glyphicon-ok"></span> 
          <% else %>
            <td><span class="glyphicon glyphicon-remove"></span> 
          <% end %>
          (<%= f.get_alumni_signatures_count %> / 15)
          </td>
        <% end %>
      </tr>

    </tbody>

    <tbody class="hidden" id="freshTable">
      <% @freshmen_on_packet.each do |fop| %>
        <tr>
          <th><%= link_to "#{fop.name}", freshman_path(fop.id) %></th>
          <% @freshmen.each do |f| %>
            <% if Signature.exists?(freshman_id: f.id, signer_id: fop.id) %>
              <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
            <% else %>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
