<div class="page-header">
  <h1>Packet Grid</h1>
</div>

<div class="table-responsive" style="overflow-x: auto">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th style="padding-right: 250px"></th>
        <% @freshmen.each do |f| %>
          <th><%= link_to "#{f.name}", freshman_path(f.id) %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @upperclassmen.each do |u| %>
        <tr>
          <th><%= link_to "#{u.name}", upperclassman_path(u.id) %></th>
          <% u.signatures.find(:all, :include => :freshman, :order => 'freshmen.name').each do |s| %>
            <% if s.is_signed %>
              <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
            <% else %>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

      <tr>
        <th>Off-floor/Alumni/Advisory/Honorary Members</th>
        <% @freshmen.each do |f| %>
          <% if f.get_alumni_signatures_count == 15 %>
            <td class="success"><span class="glyphicon glyphicon-ok"></span> 
          <% else %>
            <td><span class="glyphicon glyphicon-remove"></span> 
          <% end %>
          (<%= f.get_alumni_signatures_count %> / 15)
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
